*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

/* navbar */
#Main-Navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 5px 0px 6px 0px gainsboro;
    background-color:white;
    color: black;
    position: sticky;
}
.Ul-Tag-Navbar{
    display: flex;
    justify-content: space-between;
     column-gap: 120px;
       position: relative;
     top: 10px;
}
.Ul-Tag-Navbar>a{
    color: black;
    text-decoration: none;
}
.Ul-Tag-Navbar>a:hover{
       cursor: pointer;
       color: rgb(17, 132, 199) ;
}

/* navbar button */
#Btn-Navbar{
    display: flex;
    column-gap: 20px;
}
.navbar-button1{
    height: 35px;
    width: 70px;
    color: rgb(17, 132, 199);
    padding: 5px;
    border-radius: 7px;  
    border: solid 2px rgb(17, 132, 199) ; 
    background-color: white;
    
}
.navbar-button2{
     height: 35px;
    width: 90px;
    padding: 5px;
    color: white;
    outline: none;
     border: none;
    border-radius: 7px; 
    background-color: rgb(17, 132, 199);
}

/* contact page */
.contact-page{
    width: 100%;
    height: 550px;
    background-color:rgb(247, 247, 248) ;
}
.contact-page-form-heading{
    position: relative;
    top: 40px;
    line-height: 1.5;
    left: 60px;
}

/* contact-person-info */
.contact-person-info{
    line-height: 1.5;
}

#contact-page-form>form{
    position: relative;
    top: 50px;
    left: 60px;
}
#contact-page-form>form>input{
    height: 40px;
    width: 400px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
#contact-page-form>form>input:focus{
    outline-color:rgb(17, 132, 199) ;
}

#contact-page-form>form>textarea{
    height: 100px;
    width: 400px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

#contact-page-form>form>textarea:focus{
    outline-color:rgb(17, 132, 199) ;
}

/* contact-person-info */
.contact-person-info{
    height: 300px;
    padding: 50px;
    width: 400px;
    border: 2px solid lightgray;
    border-radius: 5px;
    position: relative;
    left: 700px;
    bottom: 250px;
}
#contact-page-form>form>button{
    height: 40px;
    width: 400px;
    border: none;
    color: white;
    background-color:rgb(17, 132, 199)  ;
    border-radius: 5px;
}

/* footer section */
#home-page-footer-section{
    text-align: center;
    height: 50px;
    width: 100%;
    position: relative;
     top: 0px;
    background-color: rgb(1, 1, 34);
}
#home-page-footer-section>p{
    position: relative;
    top: 15px;
    color: white;
}
#icons{
color: white;
position: relative;
left: 1150px;
display: flex;
column-gap: 30px;

}